@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* @theme{
  colors:{
    darkbg:#1E293B
  }
} */

*{
  font-family: "Roboto", sans-serif;
}
main{
  max-width: 1280px;
  min-height: 90vh;
  padding: 15px;
  margin: auto;
}
/* json-server data/db.json -m ./node_modules/json-server-auth --port 8000 */